<%- include("includes/header.ejs") %>

  </head>

  <body class="hold-transition sidebar-mini">
    <div class="wrapper">

      <!-- Navbar -->
      <%- include("includes/dash-nav.ejs") %>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <%- include("includes/dash-aside-menu.ejs") %>

          <!-- Content Wrapper. Contains page content -->
          <div class="content-wrapper">
            <% if (msg.length > 0) { %>
              <% if (msg == "عملیات با موفقیت انجام شد") { %>
                <div class="alert alert-success text-center">
                  <%= msg %>
                </div>
              <% } else { %>
                <div class="alert alert-danger text-center">
                  <%= msg %>
                </div>
             <% } %>
            <% } %>
            <!-- Content Header (Page header) -->
            <div class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-sm-6">
                    <h1 class="m-0 text-dark">
                      <%= pageTitle %>
                    </h1>
                  </div><!-- /.col -->
                  <div class="col-sm-6">
                  </div><!-- /.col -->
                </div><!-- /.row -->
              </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
              <div class="card">
                <div class="card-body register-card-body">

                  <form action="/products/newproduct" method="post">
                    <div class="input-group mb-3">
                      <input required type="text" class="form-control" placeholder="نام محصول" name="productName">
                      <div class="input-group-append">                       
                      </div>
                    </div>
                    <div class="input-group mb-3">
                      <input required type="text" class="form-control" placeholder="مبلغ محصول" name="cost">
                      <div class="input-group-append">
                      </div>
                    </div>
                    <div class="input-group mb-3">
                      <input required type="text" class="form-control" placeholder="تخفیف محصول" name="takhfif">
                      <div class="input-group-append">
                      </div>
                    </div>
                    <div class="input-group mb-3">
                      <input required type="text" class="form-control" placeholder="مقدار موجودی محصول" name="meqdarMojoodi">
                      <div class="input-group-append">
                      </div>
                    </div>
                    <div class="input-group mb-3">
                      <textarea class="form-control" name="description" placeholder="توضیحات محصول"></textarea>
                      <div class="input-group-append">
                      </div>
                    </div>
                    <div class="row">
                      <!-- /.col -->
                      <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">ثبت محصول</button>
                      </div>
                      <!-- /.col -->
                    </div>
                  </form>
                </div>
                <!-- /.form-box -->
              </div><!-- /.card -->
            </section>
            <!-- /.Left col -->
            <!-- right col (We are only adding the ID to make the widgets sortable)-->

            <!-- right col -->
          </div>
          <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <%- include("includes/footer.ejs") %>
  </body>
  </html>